.section{
width: 100%;
height: auto;
display: flex;

}.section1{
width: 100%;
height: auto;
display: flex;

}
nav
{
    width: 100%;
}
.image{
order: 2;
flex-wrap: wrap;
height: auto;
width: 100%;
}
.text{
height: auto;
padding:100px;
width: 50%;
font-size: 10px;
order: 1;
flex-wrap: wrap;

}
.image img{
height: 100%;
width: 100%;
}
.text h1{

    font-size: 40px;
}
.text img{

width: 30px;
height: 30px;

}
.apple{
    display: flex;
}
.images{
    display: flex;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
height: 80px;
gap: 100px;
width: 70%;
margin-left: 200px;
justify-content: space-around;
border-radius: 20px;
}

.qw{
    display: flex;
    gap: 10px;
    align-items: center;
align-items: center;    
}
.ww{
    display: flex;
    gap: 20px;
    align-items: center;

}
.ew{
    display: flex;
    gap: 20px;
    align-items: center;

}
.rw{
    display: flex;
text-align: center;
align-items: center;
}
.btn0{
height: 50px;
    border-radius: 10px;
    background-color: #1572D3;
    color: white;
    font-size: 20px;
    border-color: rgba(0,0,0,0.2) ;
    cursor: pointer;
}
.k{
    font-size: 20px;
}
.oo{
    display: flex;
flex-direction: column;
gap: -10px;
}




.work{
width: 100%;
height: 500px;
margin-top: 20px;

}
.how{
text-align: center;
gap: 50px;
justify-content: center;
}
.icon{
justify-content: center;
align-items: center;
display: flex;
gap: 70px;
text-align: center;
padding-top: 20px;
}
.parag{
font-size: 10px;


}
.tnc{
    padding-top: 30px;
    height: 60px;

}
.para{
font-size: 20px;


}
.png{
width: 50%;
height: 50%;
padding: 100px;
padding-right: 50px;
}
.pna{
width: 50%;
height: 50%;
padding: 30px;

}
.png img{
width: 100%;
height: 100%;

}
.experience{
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
}
.n{
    display: flex;
    margin-top: 30px;
}
.cards{
justify-content: center;
align-items: center;
text-align: center;
margin-top: 50px;
height: 500px;
}
.sunny{
padding: 100px 260px;
gap: 30px;
    display: flex;
}
.a{
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
height: 400px;
width: 280px;
 border-radius: 20px;
 
}
.img1{
margin-top: 10px;


}
.img2{
    margin-top: 20px;
}
.m{
    text-align: center;
    margin-top: 50px;
}
.btn1{
    border-radius: 10px;
    background-color: #1572D31A;
    color: blue;
    font-size: 20px;
    border-color: rgba(0,0,0,0.2) ;
    padding: 5px 30px 15px 30px;
    cursor: pointer;

}
.btn2{
    border-radius: 10px;
    font-size: 20px;
    border-color: rgba(0,0,0,0.2) ;
    padding: 5px 30px 15px 30px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 50px;
}
.o{
text-align: center;
margin-top: 50px;
letter-spacing: 5px;
gap: 100px;
}
.i{
display: flex;
justify-content: center;
gap: 100px;

}
.b{
margin-top: 20px;
padding: 40px;
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
height: 70px;
}
    
.d{
box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
border: 20px;
display: flex;
height: 450px;
border-radius: 30px;



}
.w img{
    display: flex;
    width: 300px;
    border-radius: 20px;
    ;
}
.p{
    letter-spacing: 0px
    ;
}
.y img{
height: 100px;
width: 100px;
border-radius: 20px;
    border: 1px solid black

}
.p img{
width: 200px;
height: 20px;
align-items: flex-start;

}
.download{
align-items: center;
text-align: center;
margin-top:100px ;
border: 1px solid black;
height: 500px;
width: 100%;
}
.sabir{
height:100%;
width: 48%;
border: 1px solid black;


}

.nisar{
width: 48%;
height: 100%;

border: 1px solid black;

}
.text1 button{
width: 100px;
border-radius: 10px;
height: 40px;
background-color: blue;
color: white;

}
.text1 img{
    width: 100px;
    height: 40px;
}
.imag{
padding-left: 200px;
    height: auto;
    width: 100%;
top: 60px;
    margin-top: 200px;
}

.v{
    height: 200px;
    width: 100%;
display: flex;
justify-content: space-around;
background-color: blue;
color: white;
}
.rent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.x{
    display: flex;
}
.dr{
background-color: blue;
text-align: center;
}
.tnc{
justify-content: space-between;
display: flex;
height: 100px;
overflow: hidden;
align-items: center;
padding-bottom: 20px;
}
.tnc img{
height: 100%;
    width: 8%;
}
.tnc1{
    display: none;
}
.rent{
    display: flex;
    
}
.cc{
    display: flex;
    gap: 0px;
    margin-top: 10px;
}
.ee img{
    width: 120px;
    height: 40px;
}
.count2{
    display: flex;
    gap: 0px;
   margin-left: 20px; 
}.count1{
    display: flex;
    gap: 0px;
   margin-left: 20px;

    
}
.count{
    display: flex;
    gap: 0px;
}
.frozen{
    display: flex;
    gap: 0px;
   margin-left: 20px; 
    
}
.gg{
    display: flex;
    gap: 0px;
   margin-left: 20px; 
    
}
.line {
    width: 70%;        
    height: 2px;
    background: #b3b1b1; 
    margin: 10px auto; 
    border-radius: 10px;
}
.price{
    display: flex;
    gap: 20px;
    margin-left: 20px;

}
.ret{
    display: flex;
    gap: 0px;
}
.btn00{
    border-radius: 10px;
    font-size: 15px;
    border-color: rgba(0,0,0,0.2) ;
    padding: 5px 70px 6px 30px;
    cursor: pointer;
    background-color: #1572D3;
    color: white;
}
.text1{
    padding-top: 100px;
    padding-left: 100px;
    width: 50%;
}

@media (max-width:768px) {
.tnc1{
display: flex;
height: 100px;
align-items: center;
gap: 50px;



}
.tnc{
    display: none;
}
.tnc1 img{
height: 100%;
width:20%;
margin-right: 20px;
}

.btn2{
    padding: 5px 20px 5px 20px;


}
.btn1{
    padding: 5px 20px 5px 20px;

}








    .image img{
        width: 100%;
        height: auto;
    }
    .section{
        flex-direction: column;
        padding: 0px;
    font-size: 10px;
gap : 0%;
        
    }  
    .image{
        order: 1;
    }
.text{
    order: 2;
    flex-wrap: wrap;
width: 100%;

}

.v{
    flex-direction: column;
    height: auto;
text-align: center;
gap : 20px;
align-items: center;
}
.imag{
    padding-left: 0px;
width: 90%;
justify-content: center;
margin-right: 40px;


}
.imag img{
    width: 100%;
    height: auto;
}

.w img{

flex-direction: column;


}
.cards{
flex-direction: column;
height: auto;
    align-items: center;

}

.sunny{
    flex-direction: column;
    padding: 0px;
    gap:50px;
    height: auto;
    margin-right: 40px;
    align-items: center;
}
.o{
letter-spacing: 0px;


}
.experience{
    flex-direction: column;
    display: flex;
height: auto;
margin-top: 200px;
flex-wrap: wrap;
width: 100%;
padding: 10px;
}
.png{
width: 100%;
height: auto;
padding: 0px;
padding-bottom: 0px;
}


.png img{
width: 200px;
height: auto;
display: block;
margin: 0 auto;
min-width: 400px;
}





.pna{
width: 100%;
height: auto;
padding: 0px;
padding-bottom: 0px;

}
.si{
    display: none;
}
.gy{
    display: none;
}
.p{
    flex-direction: column;
    gap: 20px;
    width: 100%;

}
.w {
    width: 100%;
    height: auto;
}
.d{
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-right: 20px;
}

.icon{
display: flex;
    flex-direction: column;
    width: 100%;
height: auto;
gap: 20px;
}
.icon img{
    width: 50%;
    height: auto;
}
.ic{
    font-size: 20px;
}
.images{
flex-direction: column;
display: flex;
width: 40%;
height: auto;
align-items: center;
margin-left: 130px;
gap: 50px;
justify-content: center;
margin-top: 50px;


}
.btn0{
    width: 120px;

}

.ee img{
    width: 80px;
    height: 40px;
}
.text1{
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
padding-right: 100px;
}
.imag{  
justify-content: center;
    width: 100%;
    height: auto;

}
.section1{

        flex-direction: column;
    font-size: 10px;
    margin-top: 100px;
display: flex;
width: 100%;
height: auto;
gap:0px;

    }



.image{
    padding-bottom: 50px;
    height: 250px;
    padding: 0px;
}
.text{
    align-items: flex-start;
    text-align: left;
    display: flex;
    padding: 40px;
    padding: 0px;

}
.n{
gap: 20px;

}
}


